.thread-h2 {
  width: 85%;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.thread-section {
  padding-bottom: 2rem;
}

.replies-container {
  height: 20rem;
  width: 2rem;
  border: 1px solid;
  overflow: hidden;
  margin: 0;
}

.posts-container {
  margin: 0 auto 2rem auto;
}

.bottom-btn {
  margin-bottom: 2.25rem;
  margin-top: -6rem;
}

.bottom-link {
  margin: 0 auto;
}

.reply-for-container {
  margin-bottom: 40rem;
}
