.home-row-container {
  padding-left: 1rem;
}

.bubble {
  height: 1.75rem;
  width: 1.75rem;
  color: rgb(71, 71, 255);
  margin-right: 1rem;
}

.info-container {
  display: flex;
  height: 4.75rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.h4-home {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: blue;
}

.home-grey {
  background-color: rgb(243, 243, 243);
}

.home-p {
  color: rgb(117, 117, 117);
}
