nav {
  padding: 0 1rem;
  background-color: rgb(71, 71, 255);
  height: 3.5rem;
  display: grid;
  align-items: center;
  color: white;
  z-index: 99;
  max-width: 60rem;
  margin: 0 auto;
}

.nav-h2 {
  font-size: 1.75rem;
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 0.15rem;
}

li {
  list-style: none;
}

.links-container {
  display: flex;
  justify-content: flex-end;
  max-width: 60rem;
  margin: 0 auto;
}

.links {
  width: 55%;
  max-width: 18rem;
  border-radius: 5rem;
}

.account-info-flex {
  display: flex;
  align-items: flex-end;
}

.ham {
  height: 1.75rem;
  width: 1.75rem;
}

.ham:hover {
  cursor: pointer;
}

.links-container {
  height: 0;
  overflow: hidden;
}

.show {
  overflow: visible;
}

a {
  text-decoration: none;
  color: white;
}
