.nav-link {
  background-color: rgb(243, 243, 243);
  background-color: rgb(241, 245, 247);
  color: blue;
  border-left: 1px solid rgb(219, 218, 218);
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 0.95rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  position: relative;
  z-index: 99;
}

.navLink-title-container {
  background-color: rgb(241, 245, 247);
  border-left: 1px solid rgb(219, 218, 218);
  color: rgb(177, 175, 175);
  height: 3rem;
  padding-top: 0.75rem;
  padding-left: 0.5rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  position: relative;
  z-index: 99;
}

.account {
  margin-bottom: -0.5rem;
}

.navLink-underline {
  height: 0.085rem;
  width: 100%;
  background-color: rgb(199, 196, 196);
}

.navLink-title {
  padding-left: 0.75rem;
}

.radius-bottom {
  border-bottom: 1px solid rgb(219, 218, 218);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.user-circle {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 1.5rem;
}
