.nav-link {
  background-color: white;
  color: blue;
  border-left: 2px solid rgb(219, 218, 218);
  border-right: 1px solid rgba(219, 218, 218, 0.438);
  height: 4rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  font-size: 0.95rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  position: relative;
  z-index: 99;
}

.navLink-title-container {
  background-color: rgb(241, 245, 247);
  background-color: white;
  border-left: 2px solid rgb(219, 218, 218);
  border-right: 1px solid rgb(219, 218, 218, 0.438);
  color: rgb(177, 175, 175);
  height: 3rem;
  padding: 0.75rem 2rem 0 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  position: relative;
  z-index: 99;
}

.account {
  margin-bottom: -0.5rem;
}

.navLink-underline {
  height: 0.085rem;
  width: 100%;
  background-color: rgb(199, 196, 196);
}

.navLink-title {
  padding-left: 0.75rem;
}

.radius-bottom {
  border-bottom: 2px solid rgb(219, 218, 218);
  border-bottom-left-radius: 0.25rem;
  height: 7rem;
  padding-bottom: 2rem;
}

.user-circle {
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 1.5rem;
}
