.reply-form {
  margin-bottom: 2rem;
}

.reply-form-container {
  background-color: rgb(243, 243, 243);
  padding: 1rem 0;
  margin-top: 3rem;
  /* margin-bottom: 10rem; */
}

.reply-underline {
  width: 96%;
  background-color: rgb(94, 94, 94);
}

.reply-form-h2 {
  font-size: 1.25rem;
  color: rgb(94, 94, 94);
}

.reply-text-container {
  padding: 0 0.5rem;
}

.danger {
  border-color: red;
}
