.thread-btns-container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  max-width: 37rem;
  margin: 0 auto 2rem auto;
}

.btn-container {
  background-color: rgb(233, 233, 233);
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.25rem;
  height: 1.5rem;
  border: none;
}

.width-arrow {
  width: 3rem;
}

.width-num-s {
  padding: 0 1.25rem;
}

.width-num-m {
  padding: 0 1.3rem;
}

.width-num-l {
  padding: 0 0.95rem;
}

.width-num-xl {
  padding: 0 0.75rem;
}

.btn-container:hover {
  cursor: pointer;
}

.btn-container-nums {
  display: flex;
  justify-content: center;
}

.btn-container-right {
  display: flex;
  width: 6.5rem;
  justify-content: space-between;
}

.btn-container-left {
  display: flex;
  width: 6.5rem;
  justify-content: space-between;
}

.margin-right {
  margin: 0 0.125rem;
}

.disabled {
  color: rgb(199, 199, 199);
}

.disabled:hover {
  cursor: default;
}

.color {
  color: rgb(94, 94, 94);
}
