.thread-btns-container {
  display: flex;
  justify-content: space-between;
  color: grey;
  padding: 0 0.25rem;
  max-width: 31rem;
  margin: 0 auto 2rem auto;
}

.btn-container {
  background-color: rgb(243, 243, 243);
  width: 1.75rem;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 0.25rem;
  height: 1.75rem;
  border: none;
}

.btn-container:hover {
  cursor: pointer;
}

.btn-container-nums {
  display: flex;
  justify-content: center;
}

.btn-container-right {
  display: flex;
  width: 4rem;
  justify-content: space-between;
}

.btn-container-left {
  display: flex;
  width: 4rem;
  justify-content: space-between;
}

.margin-right {
  margin-right: 1rem;
}

.disabled {
  color: rgb(199, 199, 199);
}

.color {
  color: rgb(94, 94, 94);
}
